/*
    This file is part of Stars Under Attack.

    Stars Under Attack is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Stars Under Attack is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Stars Under Attack.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
  * Layout elements
*/

/* General */
html { padding:0; margin:0; }
body { font-size:1em; color:#fff; font-style:normal; background-color:#222; margin:0; padding:4.5em 2em 4.5em 13em; }
body.skin-3-0 { font-size:9pt; font-family:Arial,Tahoma,"Adobe Helvetica",sans-serif; }
body.skin-2-0.mit-werbung,body.skin-2-0.ohne-werbung { background-image:url(images/background_grey.png); } /* Only to be interpreted by browsers that support multiple class names */
* html,* html body { padding:0; margin:0; overflow-y:hidden; }
*,#planets .active dt { font-size:inherit; color:inherit; font-weight:inherit; font-style:inherit; font-variant:normal; text-decoration:inherit; font-family:inherit; margin:0; padding:0; }
* html h1,* html h2,* html h3,* html h4 { font-size:100.01%; }
* html *,* html #planets .active dt { font-size:11px; font-family:sans-serif; }

/* Time and resource bar */
.bar { display:block; position:fixed; right:0; margin:0; border-width:.2em; border-color:#aaa; padding:.2em; background-color:#222; word-spacing:-1.1em; line-height:2em; height:2em; white-space:nowrap; }
* html .bar { word-spacing:0; position:absolute; right:auto; }
#ress { left:0; top:0; border-style:none none solid none; z-index:25000; width:100%; }
body.skin-1-1 #ress { position:absolute; }
#time { bottom:0; text-align:right; border-style:solid none none solid; z-index:20000; width:auto; font-family:monospace; }
* html #time { border-style:solid solid none none; left:0; }
body.skin-2-0 #ress dt { padding-left:21px !important; background-repeat:no-repeat; background-position:2px 50%; }
body.skin-2-0 #ress dt.ress-carbon { background-image:url(images/resources/carbon.png); }
body.skin-2-0 #ress dt.ress-aluminium { background-image:url(images/resources/aluminium.png); }
body.skin-2-0 #ress dt.ress-wolfram { background-image:url(images/resources/wolfram.png); }
body.skin-2-0 #ress dt.ress-radium { background-image:url(images/resources/radium.png); }
body.skin-2-0 #ress dt.ress-tritium { background-image:url(images/resources/tritium.png); }
body.skin-2-0 #ress dt.ress-energie { background-image:url(images/resources/energie.png); }

#body-root dl.bar dt,#body-root dl.bar dd { background-color:#777; color:#fff; font-weight:bold; border-width:.1em; border-color:#aaa;  }
#body-root dl.bar dt { margin:0 0 0 .25em; padding:.2em 0 .2em .3em; border-style:solid none solid solid; }
* html #time dt { padding-right:.5em; }
#body-root dl.bar dd { margin:0 .25em 0 0; padding:.2em .3em .2em 0; border-style:solid solid solid none; }
#body-root dl.bar dd:after { content:""; }

/* Version information */
#gameinfo { position:absolute; bottom:2.8em; left:.3em; margin:0; padding:0; list-style-type:none; }

/* Navigation */
#navigation { position:fixed; top:3.5em; left:1em; width:10em; border:.1em solid #888; background-color:#777; color:#fff; font-weight:bold; z-index:10000; }
* html #navigation { position:absolute; }
#navigation ul { list-style-type:none; }
#navigation li { display:block; text-align:center; margin:0 0 -.1em 0; border-bottom:.1em solid #888; border-top:.1em solid #888; position:relative; z-index:25000; }
#navigation li.active,#navigation li:hover { border-color:#999; z-index:30000; }
#navigation a { display:block; line-height:1.25em; position:relative; }
* html #navigation a { width:100%; }
#navigation .active a, #navigation a:hover,#navigation a:focus { background-color:#888; }
#navigation a:hover,#navigation a:focus { color:#fff; }
#navigation .separator { display:block; height:1em; background-color:#888; border-style:none; }
#navigation #navigation-separator-1 { display:none; }
#navigation button { width:100%; padding:0; margin:0 -.1em; }

/* Anchor navigation for text browsers */
.cross-navigation { display:none; }

/* Planet select box in the navigation */
#change-planet { margin:-.1em 0; padding:0; }
#change-planet fieldset { margin:0; padding:0; border-style:none; }
#change-planet legend { display:none; }
#change-planet select { width:100%; background-color:#888; border-color:#999; border-style:solid none; text-align:center; }
#change-planet option { text-align:left; }

/* Content container */
body.skin-1-1 #content-8.mit-werbung { margin-right:1em; }

#content-9.mit-werbung,* html #content-9 { margin-right:1em; }
* html body.skin-1-1 #content-9 { position:absolute; top:0; left:0; bottom:0; right:0; overflow:auto; height:100%; width:100%; padding-top:3.6em; padding-left:12em; padding-right:120px; }
body.skin-1-1 #content-9.mit-werbung,* html body.skin-1-1 #content-9 { margin-right:120px; }

#content-10.mit-werbung,* html #content-10 { margin-right:120px; }
* html #content-10 { position:absolute; top:0; left:0; bottom:0; right:0; overflow:auto; height:100%; width:100%; padding-top:3.6em; padding-left:12em; padding-right:120px; text-align:center; }
* html body.skin-1-1 #content-10 { margin:2.6em 0 0 0; padding:1.1em 0 3.6em 0; }

* html #content-11 { margin:2.6em 0 0 0; padding:1.1em 0 3.6em 0; width:100%; }
* html body.skin-1-1 #content-11 { margin-right:2em; text-align:center; position:relative; }

#content-12 { margin:0 auto; width:100%; max-width:100ex; }
* html #content-12 { width:100ex; text-align:left; position:relative; }

#content-13 { border:.2em solid #aaa; background-color:#777; z-index:5000; text-align:center; position:relative; }

/* Headings */
h1,h2 { margin:0; padding:.1em; border-bottom:.1em solid #aaa; text-align:center; background-color:#888; font-weight:bold; position:relative; }
h1 { padding:.2em; border-bottom-width:.2em; }
h3,h4 { font-weight:bold; }
h3.strong,h4.strong { border-bottom:.1em solid #aaa; background-color:#888; margin:0; padding:.1em; text-align:center; position:relative; line-height:inherit; }

/* Advertisments */
#werbung { z-index:10000; position:absolute; top:3.5em; right:1em; width:120px; height:600px; }

/* Planet image */
#css-3 { display:none; }
body.skin-2-0 #css-3 { position:fixed; top:.7em; right:.7em; height:50px; width:50px; z-index:30000; border:.1em solid #aaa; padding:.5em; background-position:center center; background-repeat:no-repeat; background-color:#222; display:block; }
* html body.skin-2-0 #css-3 { position:absolute; margin-right:17px; }
body.skin-2-0 .planet-1 #css-3 { background-image:url(images/planets_small/planet01.png); }
body.skin-2-0 .planet-2 #css-3 { background-image:url(images/planets_small/planet02.png); }
body.skin-2-0 .planet-3 #css-3 { background-image:url(images/planets_small/planet03.png); }
body.skin-2-0 .planet-4 #css-3 { background-image:url(images/planets_small/planet04.png); }
body.skin-2-0 .planet-5 #css-3 { background-image:url(images/planets_small/planet05.png); }
body.skin-2-0 .planet-6 #css-3 { background-image:url(images/planets_small/planet06.png); }
body.skin-2-0 .planet-7 #css-3 { background-image:url(images/planets_small/planet07.png); }
body.skin-2-0 .planet-8 #css-3 { background-image:url(images/planets_small/planet08.png); }
body.skin-2-0 .planet-9 #css-3 { background-image:url(images/planets_small/planet09.png); }
body.skin-2-0 .planet-10 #css-3 { background-image:url(images/planets_small/planet10.png); }
body.skin-2-0 .planet-11 #css-3 { background-image:url(images/planets_small/planet11.png); }
body.skin-2-0 .planet-12 #css-3 { background-image:url(images/planets_small/planet12.png); }
body.skin-2-0 .planet-13 #css-3 { background-image:url(images/planets_small/planet13.png); }
body.skin-2-0 .planet-14 #css-3 { background-image:url(images/planets_small/planet14.png); }
body.skin-2-0 .planet-15 #css-3 { background-image:url(images/planets_small/planet15.png); }
body.skin-2-0 .planet-16 #css-3 { background-image:url(images/planets_small/planet16.png); }
body.skin-2-0 .planet-17 #css-3 { background-image:url(images/planets_small/planet17.png); }
body.skin-2-0 .planet-18 #css-3 { background-image:url(images/planets_small/planet18.png); }
body.skin-2-0 .planet-19 #css-3 { background-image:url(images/planets_small/planet19.png); }
body.skin-2-0 .planet-20 #css-3 { background-image:url(images/planets_small/planet20.png); }


/*
  * General elements
*/

/* Definition lists */
dl { border:.1em solid #aaa; border-top-style:none; width:70%; margin:.5em 15%; text-align:left; }
* html dl,* html dt,* html dd { position:relative; }
dt { width:30%; float:left; white-space:nowrap; padding:.2em .3em; font-weight:bold; position:relative; border-right:.1em solid #aaa; }
dt:after { content:":\a0"; word-spacing:-1.1em; }
dd { margin:0; padding:.2em .3em .2em 32%; border-top:.1em solid #aaa; }
.item-list dt { width:60%; }
.item-list dd { padding-left:62%; }

dl.lines { margin:0; padding:0 .5em; width:auto; border-style:none; }
dl.lines dt { width:auto; padding:0; font-weight:normal; border-style:none; }
dl.lines dd { padding:0; margin:auto; font-weight:bold; border-style:none; }

dl.inline { margin:0; width:auto; border-style:none; }
dl.inline dt,dl.inline dd { font-weight:normal; display:inline; float:none; width:auto; }
dl.inline dd { font-weight:bold; white-space:nowrap; word-spacing:0; }
dl.inline dd:after { content:",\a0"; font-weight:normal; }
dl.inline dd.ress-last:after { content:"\0a"; white-space:pre; }

dl.player-list-actions { margin:.5em; width:auto; border:.1em solid #aaa; }
* html dl.player-list-actions { height:1%; }
dl.player-list-actions dt { width:50%; margin:0; padding:.1em 0; border-style:none; float:left; clear:left; text-align:right; }
dl.player-list-actions dt:after { content:"\a0"; }
dl.player-list-actions dd { width:50%; margin:0 0 0 50%; padding:.1em 0; border-style:none; }
dl.player-list-actions ul { display:inline; list-style-type:none; }
dl.player-list-actions ul li { display:inline; border-left:.1em solid #aaa; margin:0 0 0 .5ex; padding:0 0 0 .5ex; font-size:.9em; }

dl.categories { border-left-style:none; border-right-style:none; margin:0; width:auto; }
dl.categories dt { border-right-style:none; width:auto; }
dl.categories dt:after { content:"\a0"; }
dl.categories dd { text-align:right; vertical-align:middle; padding-left:.3em; border-top-style:solid; }
dl.categories dd.foot { border-top:.1em solid #aaa; margin-top:.1em; }
dl.categories dt + dd { border-top-style:none; }
dl.categories dd + dt + dd { border-top-style:solid; }

dl.form { width:auto; margin:.5em; border-style:none; }
dl.form dt { border-right-style:none; text-align:right; }
dl.form dd { border-top-style:none; }

body.skin-4-1 #content-1 .ress dd.ress-negativ,body.skin-4-1 #content-1 .ress dd.ress-fehlend { color:#f00; }

/* Lists */
ul.actions { list-style-type:none; font-weight:bold; }
ul.actions li { display:inline; }
ul.actions li:before { content:"["; }
ul.actions li:after { content:"]"; }
ul.possibilities { margin:0; padding:.5em; list-style-type:none; font-weight:bold; }
ul.possibilities { text-align:center; }
ul.possibilities.strong { border:.1em solid #aaa; }

.order-list { list-style-type:none; margin:0; padding:0; font-weight:bold; text-align:left; }
.order-list li { position:relative; padding:.2em .5em; border-bottom:.1em solid #aaa; }
.order-list .aktionen { position:absolute; top:0; right:0; color:#777; word-spacing:-.5ex; padding:.2em .5em; }
.order-list .aktionen a { color:#fff; }
.order-list .aktionen a:hover,.order-list .aktionen a:focus { color:#ccc; }

/* Forms */
form { text-align:left; }
* html form { height:1%; }
select,input,textarea,button { border:.1em solid #999; padding:0 .2em; }
select,input,textarea,button,option,optgroup { background-color:#888; color:#fff; font-weight:bold; }
button { text-align:center; }
input[type=submit],input[type=reset],input[type=button] { text-align:center; }
select:hover,select:focus,select:active,select:hover option,select:focus option,select:active option,select:hover optgroup,select:focus optgroup,select:active optgroup,input:hover,input:focus,input:active,textarea:hover,textarea:focus,textarea:active,button:hover,button:focus,button:active { background-color:#999; }
select[readonly],select[readonly] option,select[readonly] optgroup,input[readonly],textarea[readonly],button[readonly] { color:#ccc; }
.button,.action { text-align:center; padding:.5em; }
.button button { width:75%; text-align:center; margin:0 auto; }
.button input[type=submit],form div input[type=reset],form div input[type=button] { width:75%; text-align:center; margin:0 auto; }
textarea { max-width:100%; }
fieldset { padding:.5em; margin:.5em; border:.1em solid #aaa; }
legend { font-weight:bold; }

/* Shortcuts */
kbd { font:inherit; text-decoration:underline; }

/* Links */
a { color:#fff; text-decoration:none; }
a:hover,a:focus { color:#ccc; }
a[href],a[onclick] { cursor:pointer; }

/* Highlighting */
#body-root a.fertig { color:#0f0; font-weight:bold; }
#body-root a.fertig:hover,#body-root a.fertig:focus { color:#0c0; }
#body-root a.abbrechen { display:block; color:#f00; font-weight:bold; }
#body-root a.abbrechen:hover,#body-root a.abbrechen:focus { color:#c00; }

#body-root .deps-ja,#body-root .positiv,#body-root .negativ,#body-root .deps-nein,#body-root .playername,#body-root .alliancename,#body-root .gelangweilt,#body-root .voll,#body-root .genug,#body-root .fehlend { font-weight:bold; }
#body-root .deps-ja,#body-root .deps-ja a,#body-root .positiv,#body-root .positiv a,#body-root .genug,#body-root .genug a { color:#0f0; }
#body-root .deps-ja a:hover,#body-root .deps-ja a:focus,#body-root .positiv a:hover,#body-root .positiv a:focus,#body-root .genug a:hover,#body-root .genug a:focus { color:#0c0; }
#body-root .deps-nein,#body-root .deps-nein a,#body-root .negativ,#body-root .negativ a,#body-root .voll,#body-root .voll a,#body-root .fehlend,#body-root .fehlend a { color:#f00; }
#body-root .deps-nein a:hover,#body-root .deps-nein a:focus,#body-root .negativ a:hover,#body-root .negativ a:focus,#body-root .voll a:hover,#body-root .voll a:focus,#body-root .fehlend a:hover,#body-root .fehlend a:focus { color:#c00; }
#body-root .gelangweilt { color:#8bf; }

#body-root .eigen .playername,#body-root .eigen .playername a { color:#8f8; }
#body-root .allianz-eigen .alliancename,#body-root .allianz-eigen .alliancename a,#body-root .verbuendet .playername,#body-root .verbuendet .playername a { color:#8bf; }

.type-weak,.type-weak a,.type-em,.type-em a { color:#bbb; }
.type-empty,.type-empty a { text-decoration:line-through; color:#bbb; }
.type-weak a:hover,.type-weak a:focus,.type-em a:hover,.type-em a:focus,.type-empty a:hover,.type-empty a:focus { color:#aaa; }
.type-em,.type-em a { font-style:italic; }

/* Tables */
table,ul.whole-page,ol.whole-page { width:95%; border-spacing:0; border-collapse:collapse; border:.2em solid #aaa; margin:.5em auto; background-color:#777; }
ul.whole-page,ol.whole-page { list-style-type:none; border-bottom-style:none; text-align:left; }
thead { border-bottom:.2em solid #aaa; }
tfoot { border-top:.2em solid #aaa; }
thead tr,tr:hover,tr.active,.whole-page li:hover,.whole-page li.active { background-color:#888; }
td,th { border:.1em solid #aaa; padding:.2em .3em; vertical-align:top; text-align:center; white-space:nowrap; }
th { font-weight:bold; }
tbody th,tfoot.gesamt th { text-align:left; }
* html tbody th { text-align:center; }
tbody th[colspan] { text-align:center; }
.whole-page li { border-bottom:.1em solid #aaa; padding:.2em .3em; }
th.separator-left,td.separator-left { border-left-width:.2em; }
th.separator-right,td.separator-right { border-right-width:.2em; }

table.table-2 th,table.table-2 td { width:50%; }
table.table-3 th,table.table-3 td { width:33%; }
table.table-4 th,table.table-4 td { width:25%; }
table.table-5 th,table.table-5 td { width:20%; }

table.table-small { width:auto; }

/* Others */

p { text-align:justify; margin:.5em; }
.error,.successful,.nothingtodo { font-weight:bold; text-align:center; font-size:1.2em; }
.error { color:#f00; }
#body-root .successful { color:#0f0; }
#body-root .nothingtodo { color:#8bf; }
#neue-nachrichten { font-weight:bold; text-align:center; }

hr { height:0; padding:0; border-style:solid none none none; border-width:.2em; border-color:#aaa; font-size:1em; }
hr.separator { display:none; }

strong { font-weight:bold; font-style:normal; text-decoration:none; }
em { font-weight:normal; font-style:normal; text-decoration:underline; }
h1 em,h2 em,h3 em { font-weight:inherit; text-decoration:none; }

abbr,acronym { border-style:none; text-decoration:none; font-style:normal; letter-spacing:inherit; }

#body-root td.number,#body-root input.number { text-align:right; }
#body-root input.number-koords { width:5ex; text-align:center; height:1.3em; }
#body-root input.number-items { width:4em; }
#body-root input.number-ress { width:9ex; }

ul.deps { list-style-type:none; }


/*
  * Special elements
*/

/* Items (to build) */
.item { border-color:#aaa; border-style:none; border-width:.1em; padding:.5em 0; text-align:left; clear:right; position:relative; }
.item h3 { margin:0 0 .5em .5em; }
* html .item { height:1%; }
.item + .item { border-top-style:solid; }
* html .item { border-top-style:solid; }
.item ul,.item .restbauzeit { position:relative; padding:0; list-style-type:none; float:right; margin:-1.5em 0 1em 1em; text-align:center; width:10em; }
.item ul { font-weight:bold; }
.item ul li + li { margin-top:.5em; }
.item ul input { margin-left:5em; }
.item .item-rueckbau { font-size:.85em; }

.stufe { font-weight:normal; }

/* Item queue (robots, ships, defence) */
.queue { width:50ex; max-width:100%; margin:.5em auto; border-width:.1em; border-color:#aaa; border-style:solid solid none solid; padding:.2em 0; text-align:center; list-style-position:inside; }
.queue li { border-bottom:.1em solid #aaa; font-size:.8em; }
.queue .active { font-size:1em; }
.queue .active,.queue .last { font-weight:bold; }
.queue .restbauzeit { border-left:.1em solid #aaa; padding-left:.7ex; }

/* JavaScript tool tips */
#js-title,.popup,#loading { position:absolute; border:.2em solid #aaa; padding:.5em; background-color:#888; font-weight:bold; }
#js-title /* Tool tip */ { z-index:50000; margin:0 10px 10px 0; display:block; }
#js-title.hidden { display:none; }
.popup /* Popup (short actions in the map) */ { z-index:60000; margin:-.2em -.7em -.12em -.7em; }
#loading /* Ajax loading bar in the map */ { z-index:40000; position:fixed; bottom:3em; right:1em; color:#f00; }
* html #loading { position:absolute; }

/* Fast build, fast read */
.fast-seek { list-style-type:none; margin:0; padding:0; font-weight:bold; }
.fast-seek .c-prev,.fast-seek .c-next { position:absolute; top:0; vertical-align:middle; }
.fast-seek .c-prev a:after,.fast-seek .c-next a:before { vertical-align:middle; font-size:.8em; }
.fast-seek .c-prev { left:0; }
.fast-seek .c-next { right:0; }
.unbeschaeftigte-planeten .c-prev a:after { content:"\a0 Fastbuild"; }
.ungelesene-nachrichten .c-prev a:after { content:"\a0 Fastread"; }
.unbeschaeftigte-planeten .c-next a:before { content:"Fastbuild\a0"; }
.ungelesene-nachrichten .c-next a:before { content:"Fastread\a0"; }
* html body.skin-2-0 .unbeschaeftigte-planeten .c-voriger a,* html body.skin-2-0 .unbeschaeftigte-planeten .c-naechster a { width:45px; padding:0 0 0 45px; margin:0 .5ex; overflow:hidden; background-image:url(images/fastbuild.gif); background-repeat:no-repeat; background-position:left center; }

/* Tabs */
.tabs { list-style-type:none; padding:0; height:1.5em; margin:.5em; font-weight:bold; text-align:center; }
.tabs li { float:left; border:.1em solid #aaa; margin-right:-.1em; line-height:1.5em; }
.tabs a { display:block; }
.tabs a:hover,.tabs a:focus { background-color:#aaa; color:#fff; }
.tabs .active a { background-color:#999; }

/* “Cancel all” form */
.alle-abbrechen { padding:.5em; border:.1em solid #aaa; font-size:.8em; width:50%; margin:.5em .5em .5em auto; }
.alle-abbrechen p { margin:0; padding:0; }
* html .alle-abbrechen { margin-left:50%; }
.alle-abbrechen strong { font-weight:bold; text-decoration:underline; }

/* Autocomplete popup */
.autocomplete { margin:0 -1px; padding:0; overflow:auto; border:1px solid #000; background-color:Window; color:WindowText; list-style-type:none; z-index:100000; max-height:12em; }
.autocomplete li { cursor:pointer; padding:0 2px; }
.autocomplete li.selected { background-color:Highlight; color:HighlightText; }
* html form { position:relative; }

/* x (of max) */
.max { font-size:.8em; }
.max:before { content:"("; }
.max:after { content:")"; }

/*
  * Message types
*/

/* Espionage */
.nachricht-spionage dl,.nachricht-spionage dt,.nachricht-spionage dd { border-style:none; }
.nachricht-spionage ul { list-style-type:disc; list-style-position:inside; margin:0; padding:0 .5em; }
.nachricht-spionage li { display:block; float:left; width:50%; padding:.2em 0; margin:0; }
.nachricht-spionage h4 { clear:left; }
.nachricht-spionage .besiedeln { text-align:center; }
.nachricht-spionage div ul li { position:relative; }

/* Battle */
.nachricht-kampf p.keine { margin:.5em; padding:.1em .3em; text-align:center; border:.1em solid #aaa; }

/*
  * Item description
*/

#body-root .desc h4.strong { margin:.5em 0 .25em 0; }
.desc-values ul { list-style-type:none; }

/*
  * Index page
*/

/* Planet list */
#planeten { clear:left; } /* Heading */
#planets { list-style-type:none; position:relative; min-height:10em; text-align:left; }
* html #planets { height:10em; width:100%; text-align:center; }
#planets .c-felder { display:none; }
#planets dt { margin:0; padding:0; width:1.5ex; overflow:hidden; color:#777; line-height:1.2em; height:1.2em; border-style:none; }
#planets dt:first-letter { color:#fff; }
#planets dd { margin:0; padding:0; display:block; line-height:1.2em; border-style:none; }
#planets dd:before { content:":\a0"; color:#fff; font-weight:bold; }
#planets dl { margin:0; padding:0; border-style:none; }
#planets li { float:right; clear:right; width:40ex; padding:.5em 1ex; font-weight:bold; border-left:.4ex solid #aaa; border-color:#aaa; border-width:.4ex; border-style:none none none solid; display:block; }
* html #planets li { width:48.2ex; text-align:left; float:none; clear:none; border-width:.1em .4ex; border-style:solid; padding:.2em .5em; }
#planets li .koords,#planets li dl { font-weight:normal; }
#planets li.active { position:absolute; width:auto; top:0; left:0; right:42ex; border-right:.4ex solid #aaa; text-align:center; border-left-style:none; min-height:10em; }
* html #planets li.active { position:static !important; border-right-style:none; border-top:.1em solid #aaa; border-bottom:.1em solid #aaa; padding:.5em; }
#planets li.active > * { font-size:1.2em; }
#planets li.active dl { margin:0; width:auto; text-align:center; }
* html #planets li.active dl { width:1px; }
#planets .active dt { display:inline; width:auto; float:none; clear:none; color:#fff; }
#planets .active dt:after { content:":\a0"; }
* html #planets .active dt { display:block; float:left; width:50%; text-align:right; margin:0; padding:0; }
#planets .active dd { display:inline; }
#planets .active dd:before { content:"\a0"; }
#planets .active dd:after { content:"\0a"; white-space:pre; }
* html #planets .active dd { display:block; margin:0 0 0 50%; text-align:left; padding:0; }
h2#punkte { clear:right; }
#planets li + .active + li { border-top-style:solid; border-top-width:.1em; }
* html #planets li.active .planet-info { width:100%; }

body.skin-2-0 #planets { padding:0 0 250px 0 !important; }
* html body.skin-2-0 #planets { padding:0 !important; }

body.skin-2-0 #planets li { background-repeat:no-repeat; background-position:right center; min-height:50px; padding:.2em 1ex; }
* html body.skin-2-0 #planets li { height:50px; }
body.skin-2-0 #planets .planet-1 { background-image:url(images/planets_small/planet01.png); }
body.skin-2-0 #planets .planet-2 { background-image:url(images/planets_small/planet02.png); }
body.skin-2-0 #planets .planet-3 { background-image:url(images/planets_small/planet03.png); }
body.skin-2-0 #planets .planet-4 { background-image:url(images/planets_small/planet04.png); }
body.skin-2-0 #planets .planet-5 { background-image:url(images/planets_small/planet05.png); }
body.skin-2-0 #planets .planet-6 { background-image:url(images/planets_small/planet06.png); }
body.skin-2-0 #planets .planet-7 { background-image:url(images/planets_small/planet07.png); }
body.skin-2-0 #planets .planet-8 { background-image:url(images/planets_small/planet08.png); }
body.skin-2-0 #planets .planet-9 { background-image:url(images/planets_small/planet09.png); }
body.skin-2-0 #planets .planet-10 { background-image:url(images/planets_small/planet10.png); }
body.skin-2-0 #planets .planet-11 { background-image:url(images/planets_small/planet11.png); }
body.skin-2-0 #planets .planet-12 { background-image:url(images/planets_small/planet12.png); }
body.skin-2-0 #planets .planet-13 { background-image:url(images/planets_small/planet13.png); }
body.skin-2-0 #planets .planet-14 { background-image:url(images/planets_small/planet14.png); }
body.skin-2-0 #planets .planet-15 { background-image:url(images/planets_small/planet15.png); }
body.skin-2-0 #planets .planet-16 { background-image:url(images/planets_small/planet16.png); }
body.skin-2-0 #planets .planet-17 { background-image:url(images/planets_small/planet17.png); }
body.skin-2-0 #planets .planet-18 { background-image:url(images/planets_small/planet18.png); }
body.skin-2-0 #planets .planet-19 { background-image:url(images/planets_small/planet19.png); }
body.skin-2-0 #planets .planet-20 { background-image:url(images/planets_small/planet20.png); }

body.skin-2-0 #planets .active,body.skin-2-0 #spionage-planet dl { background-repeat:no-repeat; background-position:center top; padding:250px 0 0 0 !important; }
body.skin-2-0 .planet-1 #planets .active,body.skin-2-0 #spionage-planet dl.planet_1 { background-image:url(images/planets/planet01.png); }
body.skin-2-0 .planet-2 #planets .active,body.skin-2-0 #spionage-planet dl.planet_2 { background-image:url(images/planets/planet02.png); }
body.skin-2-0 .planet-3 #planets .active,body.skin-2-0 #spionage-planet dl.planet_3 { background-image:url(images/planets/planet03.png); }
body.skin-2-0 .planet-4 #planets .active,body.skin-2-0 #spionage-planet dl.planet_4 { background-image:url(images/planets/planet04.png); }
body.skin-2-0 .planet-5 #planets .active,body.skin-2-0 #spionage-planet dl.planet_5 { background-image:url(images/planets/planet05.png); }
body.skin-2-0 .planet-6 #planets .active,body.skin-2-0 #spionage-planet dl.planet_6 { background-image:url(images/planets/planet06.png); }
body.skin-2-0 .planet-7 #planets .active,body.skin-2-0 #spionage-planet dl.planet_7 { background-image:url(images/planets/planet07.png); }
body.skin-2-0 .planet-8 #planets .active,body.skin-2-0 #spionage-planet dl.planet_8 { background-image:url(images/planets/planet08.png); }
body.skin-2-0 .planet-9 #planets .active,body.skin-2-0 #spionage-planet dl.planet_9 { background-image:url(images/planets/planet09.png); }
body.skin-2-0 .planet-10 #planets .active,body.skin-2-0 #spionage-planet dl.planet_10 { background-image:url(images/planets/planet10.png); }
body.skin-2-0 .planet-11 #planets .active,body.skin-2-0 #spionage-planet dl.planet_11 { background-image:url(images/planets/planet11.png); }
body.skin-2-0 .planet-12 #planets .active,body.skin-2-0 #spionage-planet dl.planet_12 { background-image:url(images/planets/planet12.png); }
body.skin-2-0 .planet-13 #planets .active,body.skin-2-0 #spionage-planet dl.planet_13 { background-image:url(images/planets/planet13.png); }
body.skin-2-0 .planet-14 #planets .active,body.skin-2-0 #spionage-planet dl.planet_14 { background-image:url(images/planets/planet14.png); }
body.skin-2-0 .planet-15 #planets .active,body.skin-2-0 #spionage-planet dl.planet_15 { background-image:url(images/planets/planet15.png); }
body.skin-2-0 .planet-16 #planets .active,body.skin-2-0 #spionage-planet dl.planet_16 { background-image:url(images/planets/planet16.png); }
body.skin-2-0 .planet-17 #planets .active,body.skin-2-0 #spionage-planet dl.planet_17 { background-image:url(images/planets/planet17.png); }
body.skin-2-0 .planet-18 #planets .active,body.skin-2-0 #spionage-planet dl.planet_18 { background-image:url(images/planets/planet18.png); }
body.skin-2-0 .planet-19 #planets .active,body.skin-2-0 #spionage-planet dl.planet_19 { background-image:url(images/planets/planet19.png); }
body.skin-2-0 .planet-20 #planets .active,body.skin-2-0 #spionage-planet dl.planet_20 { background-image:url(images/planets/planet20.png); }

/* “Rename planet” button */
#planeten-umbenennen { list-style-type:none; margin:0; padding:0; position:absolute; top:0; right:0; }
#planeten-umbenennen a:before { content:"("; }
#planeten-umbenennen a:after { content:")"; }

/* Ranking */
.platz strong { font-weight:inherit; }

/* Fleets */
#flotten { margin:-.1em 0 0 0; padding:0; width:auto; border-style:none; }
#flotten dt { margin:0; float:left; width:78%; border-top:.1em solid #aaa; border-bottom-style:none; border-right-style:none; padding:.5em 1%; text-align:left; font-weight:bold; position:relative; white-space:normal; }
#flotten dd { margin:0; float:left; width:18%; border-top:.1em solid #aaa; border-bottom-style:none; padding:.5em 1%; text-align:center; position:relative; }
#flotten dt:after { content:""; }
#flotten dt.eigen.hinflug { color:#0f0; }
#flotten dt.eigen.rueckflug { color:#0b0; }
#flotten dt.fremd.type-4,#flotten dt.fremd.type-6 { color:#0cf; }
#flotten dt.fremd.type-3,#flotten dt.fremd.type-5 { color:#f00; }
#flotten .beschreibung { color:#fff; cursor:help; }
#flotten .beschreibung:hover { color:#ccc; }
#flotten .rueckflug .beschreibung { color:#bbb; }
#flotten .rueckflug .beschreibung:hover { color:#aaa; }
#flotten .beschreibung[class],#flotten .beschreibung[class]:hover,#flotten .rueckflug .beschreibung[class]:hover { color:inherit; } /* Overwrite for browsers that feature the attribute selector */
#flotten .beschreibung[class] { cursor:inherit; }
#flotten .beschreibung[title],#flotten .beschreibung[titleAttribute] { color:#fff; cursor:help; }
#flotten .beschreibung[title]:hover,#flotten .beschreibung[titleAttribute]:hover { color:#ccc; }
#flotten .rueckflug .beschreibung[title],#flotten .rueckflug .beschreibung[titleAttribute] { color:#bbb; }
#flotten .rueckflug .beschreibung[title]:hover,#flotten .rueckflug .beschreibung[titleAttribute]:hover { color:#aaa; }

/*
  * Production overview
*/

.ress-prod td { font-weight:bold; }
.prod-show-days { width:3ex; height:1.2em; }
.ress-prod button { width:90%; }

/*
  * Fleets
*/

/* F0 note */
.flotte-anzahl { font-weight:bold; margin:.5em; padding:.5em; border:.1em solid #aaa; }

.flotte-versenden fieldset { padding:0; }
.flotte-versenden .buendnisflug { width:48%; }
.flotte-versenden .flotte-schiffe { clear:left; }
.flotte-versenden .flotte-koords { float:left; width:48%; text-align:center; font-weight:bold; }

.flotte-versenden-2,.flotte-versandt { font-weight:bold; text-align:center; }


/*
  * Empire
*/

.imperium-modi li { width:33%; }


/*
  * Map
*/

.karte-wahl { width:75%; margin:0 12.5%; font-weight:bold; text-align:center; }
#karte-koordinaten { margin:1.275em 0; height:1.3em; }
#karte-lesezeichen { float:right; margin:1.275em 0 0 0; }
#karte-navigation { position:relative; height:3em; width:3em; font-size:1.5em; float:left; }
#karte-navigation li { position:absolute; display:block; line-height:1em; vertical-align:middle; width:1em; z-index:50001; }
#karte-wahl-navigation-1 { top:0; left:1em; }
#karte-wahl-navigation-2 { top:.25em; left:1.75em; z-index:50000; }
#karte-wahl-navigation-3 { top:1em; left:2em; }
#karte-wahl-navigation-4 { top:2em; left:1em; }
#karte-wahl-navigation-5 { top:1.75em; left:.25em; z-index:50000; }
#karte-wahl-navigation-6 { top:1em; left:0; }
#karte-wahl-navigation-7 { top:.25em; left:.25em; z-index:50000; }
#karte-wahl-navigation-8 { top:1.75em; left:1.75em; z-index:50000; }

.karte-system { width:75%; font-weight:bold; }
.karte-system th.c-planet { width:1px; }
.karte-system th.c-aktionen { width:10ex; }
.karte-system td.c-aktionen ul { list-style-type:none; }
.karte-system td.c-aktionen li { width:1.5ex; overflow:hidden; float:left; display:block; margin-right:.5ex; white-space:nowrap; line-height:1em; height:1em; }
.karte-system td.c-aktionen li:first-letter,.karte-system td.c-aktionen a:first-letter { color:#fff; }
.karte-system td.c-aktionen a { color:#777; }
.karte-system tr:hover td.c-aktionen a,.karte-system tr.active td.c-aktionen a { color:#888; }


/*
  * Highscores
*/

.highscores { width:50%; font-weight:bold; }
.highscores tbody td { text-align:left; }
.highscores-modi { height:5em; }
.highscores-modi li { width:49.5%; }
.highscores-modi li.c-spieler-gebaeude,.highscores-modi li.c-spieler-forschung,.highscores-modi li.c-spieler-roboter,.highscores-modi li.c-spieler-schiffe,.highscores-modi li.c-spieler-verteidigung { width:19.5%; white-space:nowrap; }

/*
  * Messages
*/

.nachrichten-liste td { text-align:left; }
.nachrichten-liste td.c-betreff { font-weight:bold; }
.nachrichten-liste .c-auswaehlen { width:1px; text-align:center; }
.nachrichten-liste .c-absender,.nachrichten-liste .c-datum { width:25%; white-space:nowrap; }
.nachrichten-liste .auswahl-button { width:3ex; text-align:center; padding:0; }

.nachricht-informationen { width:auto; margin:.5em; font-weight:bold; }
.nachricht-informationen.html dd.c-nachricht p { padding:0 .5em; }

.weitergeleitete-nachricht { text-align:center; }

.nachricht-antworten-formular,.nachricht-loeschen-formular { display:inline; margin:0; padding:0; clear:left; }
.nachricht-antworten-formular div,.nachricht-loeschen-formular div { display:inline; }
.nachricht-antworten-formular button,#content-1 .nachricht-loeschen-formular input { width:10em; }


/*
  * Dependency tree
*/

.deps td { font-weight:bold; text-align:left; }


/*
  * Settings
*/

.einstellungen-speichern-1 { display:none; }

* html .c-werbung-ausblenden { display:none; } /* Internet Explorer will see ads anyway */


/* Colour: black */

body.skin-0-0
	{ background-color:#181518; }
body.skin-0-0.skin-2-0 { background-image:url(images/background_black.png); }
body.skin-0-0 #gameinfo,body.skin-0-0 #gameinfo a
	{ color:#090909; font-weight:bold; }

body.skin-0-0 #content-13
,body.skin-0-0 select
,body.skin-0-0 option
,body.skin-0-0 optgroup
,body.skin-0-0 table
,body.skin-0-0 .bar
,body.skin-0-0 #navigation
,body.skin-0-0 #css-3
,body.skin-0-0 select:hover
,body.skin-0-0 select:focus
,body.skin-0-0 select:active
,body.skin-0-0 select:hover option
,body.skin-0-0 select:focus option
,body.skin-0-0 select:active option
,body.skin-0-0 select:hover optgroup
,body.skin-0-0 select:focus optgroup
,body.skin-0-0 select:active optgroup
,body.skin-0-0 input:hover
,body.skin-0-0 input:focus
,body.skin-0-0 input:active
,body.skin-0-0 textarea:hover
,body.skin-0-0 textarea:focus
,body.skin-0-0 textarea:active
,body.skin-0-0 button:hover
,body.skin-0-0 button:focus
,body.skin-0-0 button:active
,body.skin-0-0 .tabs .active a
	{ background-color:#000; }

body.skin-0-0 .karte-system td.c-aktionen a
,body.skin-0-0 #planets dt
,body.skin-0-0 .order-list .aktionen
	{ color:#000; }

body#body-root .skin-0-0 #navigation li.active
,body#body-root .skin-0-0 #navigation li:hover
,body#body-root .skin-0-0 #change-planet select
,body#body-root .skin-0-0 .bar dt
,body#body-root .skin-0-0 .bar dd
	{ border-color:#111; }

body.skin-0-0 #navigation .active a
,body.skin-0-0 #navigation a:hover
,body.skin-0-0 #navigation a:focus
,body.skin-0-0 #change-planet select
,body.skin-0-0 #change-planet option
,body.skin-0-0 #change-planet optgroup
,body#body-root .skin-0-0 .bar dt
,body#body-root .skin-0-0 .bar dd
,body.skin-0-0 h1
,body.skin-0-0 h2
,body.skin-0-0 h3.strong
,body.skin-0-0 h4.strong
,body.skin-0-0 select
,body.skin-0-0 option
,body.skin-0-0 optgroup
,body.skin-0-0 input
,body.skin-0-0 textarea
,body.skin-0-0 button
,body.skin-0-0 thead tr
,body.skin-0-0 tr:hover
,body.skin-0-0 tr.active
,body.skin-0-0 .whole-page li:hover
,body.skin-0-0 .whole-page li.active
,body.skin-0-0 .deps thead
,body.skin-0-0 #js-title
,body.skin-0-0 .popup
,body.skin-0-0 #loading
,body.skin-0-0 .tabs a:hover
,body.skin-0-0 .tabs a:focus
,body.skin-0-0 #navigation .separator
	{ background-color:#0a0a0a; }

body.skin-0-0 .karte-system tr:hover td.c-aktionen a
,body.skin-0-0 .karte-system tr.active td.c-aktionen a
	{ color:#0a0a0a; }

body#body-root .skin-0-0 .skin-0-0 .skin-0-0 *
,body.skin-0-0 #js-title
,body.skin-0-0 #loading
,body.skin-0-0 .popup
	{ border-color:#0a0a0a; }

body.skin-0-0 #flotten .beschreibung[class],body.skin-0-0 #flotten .beschreibung[class]:hover,body.skin-0-0 #flotten .rueckflug .beschreibung[class]:hover { color:inherit; } /* Overwrite for browsers that feature the attribute selector */

body.skin-0-0 .order-list .aktionen a:hover,body.skin-0-0 .order-list .aktionen a:focus
,body.skin-0-0 a:hover,a:focus
,body.skin-0-0 #flotten .beschreibung:hover
,body.skin-0-0 #flotten .beschreibung[title]:hover,body.skin-0-0 #flotten .beschreibung[titleAttribute]:hover
	{ color:#ccc; }

body.skin-0-0
,#body-root .skin-0-0 dl.bar dt,#body-root .skin-0-0 dl.bar dd
,body.skin-0-0 #navigation
,body.skin-0-0 #navigation a:hover,body.skin-0-0 #navigation a:focus
,body.skin-0-0 .order-list .aktionen a
,body.skin-0-0 select,body.skin-0-0 input,body.skin-0-0 textarea,body.skin-0-0 button,body.skin-0-0 option,body.skin-0-0 optgroup
,body.skin-0-0 a
,body.skin-0-0 .tabs a:hover,body.skin-0-0 .tabs a:focus
,body.skin-0-0 #planets .active dt
,body.skin-0-0 #flotten .beschreibung
	{ color:#aaa; }

body.skin-0-0 #planets dt:first-letter
,body.skin-0-0 .karte-system td.c-aktionen li:first-letter,body.skin-0-0 .karte-system td.c-aktionen a:first-letter
	{ color:#aaa; }

body.skin-0-0 #planets dd:before
	{ color:#aaa; }
body.skin-0-0 #flotten .beschreibung[title],body.skin-0-0 #flotten .beschreibung[titleAttribute]
	{ color:#aaa; }

body.skin-0-0 #flotten .rueckflug .beschreibung
,body.skin-0-0 .type-weak a
,body.skin-0-0 .type-empty a
,body.skin-0-0 .type-em a
	{ color:#555; } /* Old links */
body.skin-0-0 #flotten .rueckflug .beschreibung[title]
,body.skin-0-0 #flotten .rueckflug .beschreibung[titleAttribute]
	{ color:#555; }

body.skin-0-0 #flotten .rueckflug .beschreibung:hover
,body.skin-0-0 .type-weak a:hover
,body.skin-0-0 .type-weak a:focus
,body.skin-0-0 .type-empty a:hover
,body.skin-0-0 .type-empty a:focus
,body.skin-0-0 .type-em a:hover
,body.skin-0-0 .type-em a:focus
	{ color:#777; }
body.skin-0-0 #flotten .rueckflug .beschreibung[title]:hover
,body.skin-0-0 #flotten .rueckflug .beschreibung[titleAttribute]:hover
	{ color:#777; }

body.skin-0-0 select[readonly]
,body.skin-0-0 select[readonly] option
,body.skin-0-0 select[readonly] optgroup
,body.skin-0-0 input[readonly]
,body.skin-0-0 textarea[readonly]
,body.skin-0-0 button[readonly]
	{ color:#555; }

/* Colour: blue */
body.skin-0-1
,body.skin-0-1 .bar
,body.skin-0-1 #css-3
	{ background-color:#124; }

body.skin-0-1.skin-2-0 { background-image:url(images/background_blue.png); }

#body-root.skin-0-1 dl.bar dt,#body-root.skin-0-1 dl.bar dd
,body.skin-0-1 #navigation
,body.skin-0-1 #content-13
,body.skin-0-1 table,body.skin-0-1 ul.whole-page,body.skin-0-1 ol.whole-page
	{ background-color:#457; }
body.skin-0-1 .order-list .aktionen
,body.skin-0-1 #planets dt
,body.skin-0-1 .karte-system td.c-aktionen a
	{ color:#457; }

body.skin-0-1 #navigation .active a,body.skin-0-1  #navigation a:hover,body.skin-0-1 #navigation a:focus
,body.skin-0-1 #navigation .separator
,body.skin-0-1 #change-planet select
,body.skin-0-1 h1,body.skin-0-1 h2
,body.skin-0-1 h3.strong,body.skin-0-1 h4.strong
,body.skin-0-1 select,body.skin-0-1 input,body.skin-0-1 textarea,body.skin-0-1 button,body.skin-0-1 option,body.skin-0-1 optgroup
,body.skin-0-1 thead tr,body.skin-0-1 tr:hover,body.skin-0-1 tr.active,body.skin-0-1 .whole-page li:hover,body.skin-0-1 .whole-page li.active
,body.skin-0-1 #js-title,body.skin-0-1 .popup,body.skin-0-1 #loading
,body.skin-0-1 .tabs a:hover,body.skin-0-1 .tabs a:focus
	{ background-color:#568; }
body.skin-0-1 .karte-system tr:hover td.c-aktionen a,body.skin-0-1 .karte-system tr.active td.c-aktionen a
	{ color:#568; }

body#body-root .skin-0-1 .skin-0-1 .skin-0-1 *
,body.skin-0-1 #js-title
,body.skin-0-2 #loading
,body.skin-0-3 .popup
	{ border-color:#679; }

body#body-root .skin-0-1 #navigation
	{ border-color:#568; }
body#body-root .skin-0-1 #navigation li
	{ border-color:#568; }
body#body-root .skin-0-1 #navigation li.active
,body#body-root .skin-0-1 #navigation li:hover
	{ border-color:#678; }
body.skin-0-1 #navigation .separator
	{ background-color:#568; }
body#body-root .skin-0-1 #change-planet select,body#body-root .skin-0-1 #change-planet option,body#body-root .skin-0-1 #change-planet optgroup
	{ background-color:#568; border-color:#678; }

body.skin-0-1 select:hover,body.skin-0-1 select:focus,body.skin-0-1 select:active,body.skin-0-1 select:hover option,body.skin-0-1 select:focus,body.skin-0-1 option select:active option,body.skin-0-1 select:hover optgroup,body.skin-0-1 select:focus optgroup,body.skin-0-1 select:active optgroup,body.skin-0-1 input:hover,body.skin-0-1 input:focus,body.skin-0-1 input:active,body.skin-0-1 textarea:hover,body.skin-0-1 textarea:focus,body.skin-0-1 textarea:active,body.skin-0-1 button:hover,body.skin-0-1 button:focus,body.skin-0-1 button:active
,body.skin-0-1 .tabs .active a
	{ background-color:#679; }

body.skin-0-1 #flotten .beschreibung[class],body.skin-0-1 #flotten .beschreibung[class]:hover,body.skin-0-1 #flotten .rueckflug .beschreibung[class]:hover
	{ color:inherit; } /* Overwrite for browsers that feature the attribute selector */

body.skin-0-1 .order-list .aktionen a:hover,body.skin-0-1 .order-list .aktionen a:focus
,body.skin-0-1 a:hover,a:focus
,body.skin-0-1 #flotten .beschreibung:hover
	{ color:#bbd; }
body.skin-0-1 #flotten .beschreibung[title]:hover,body.skin-0-1 #flotten .beschreibung[titleAttribute]:hover
	{ color:#bbd; }

body.skin-0-1 .type-weak a:hover,body.skin-0-1 .type-weak a:focus,body.skin-0-1 .type-em a:hover,body.skin-0-1 .type-em a:focus,body.skin-0-1 .type-empty a:hover,body.skin-0-1 .type-empty a:focus
,body.skin-0-1 #flotten .rueckflug .beschreibung:hover
	{ color:#779; }
body.skin-0-1 #flotten .rueckflug .beschreibung[title]:hover,body.skin-0-1 #flotten .rueckflug .beschreibung[titleAttribute]:hover
	{ color:#779; }


/* Colour: green */
body.skin-0-3
,body.skin-0-3 .bar
,body.skin-0-3 #css-3
	{ background-color:#010; }

body.skin-0-3.skin-2-0 { background-image:url(images/background_green.png); }

#body-root.skin-0-3 dl.bar dt,#body-root.skin-0-3 dl.bar dd
,body.skin-0-3 #navigation
,body.skin-0-3 #content-13
,body.skin-0-3 table,body.skin-0-3 ul.whole-page,body.skin-0-3 ol.whole-page
	{ background-color:#003a15; }
body.skin-0-3 .order-list .aktionen
,body.skin-0-3 #planets dt
,body.skin-0-3 .karte-system td.c-aktionen a
	{ color:#003a15; }

body.skin-0-3 #navigation .active a,body.skin-0-3  #navigation a:hover,body.skin-0-3 #navigation a:focus
,body.skin-0-3 #navigation .separator
,body.skin-0-3 #change-planet select
,body.skin-0-3 h1,body.skin-0-3 h2
,body.skin-0-3 h3.strong,body.skin-0-3 h4.strong
,body.skin-0-3 select,body.skin-0-3 input,body.skin-0-3 textarea,body.skin-0-3 button,body.skin-0-3 option,body.skin-0-3 optgroup
,body.skin-0-3 thead tr,body.skin-0-3 tr:hover,body.skin-0-3 tr.active,body.skin-0-3 .whole-page li:hover,body.skin-0-3 .whole-page li.active
,body.skin-0-3 #js-title,body.skin-0-3 .popup,body.skin-0-3 #loading
,body.skin-0-3 .tabs a:hover,body.skin-0-3 .tabs a:focus
,body.skin-0-3 .tabs .active a
	{ background-color:#115025; }
body.skin-0-3 .karte-system tr:hover td.c-aktionen a,body.skin-0-3 .karte-system tr.active td.c-aktionen a
	{ color:#115025; }

body#body-root .skin-0-3 .skin-0-3 .skin-0-3 *
,body.skin-0-3 #js-title
,body.skin-0-3 #loading
,body.skin-0-3 .popup
	{ border-color:#115025; }

body.skin-0-3 #navigation .separator
	{ background-color:#115025; }
body.skin-0-3 #change-planet select,body.skin-0-3 #change-planet option,body.skin-0-3 #change-planet optgroup
	{ background-color:#115025; }

body.skin-0-3 select:hover,body.skin-0-3 select:focus,body.skin-0-3 select:active,body.skin-0-3 select:hover option,body.skin-0-3 select:focus,body.skin-0-3 option select:active option,body.skin-0-3 select:hover optgroup,body.skin-0-3 select:focus optgroup,body.skin-0-3 select:active optgroup,body.skin-0-3 input:hover,body.skin-0-3 input:focus,body.skin-0-3 input:active,body.skin-0-3 textarea:hover,body.skin-0-3 textarea:focus,body.skin-0-3 textarea:active,body.skin-0-3 button:hover,body.skin-0-3 button:focus,body.skin-0-3 button:active
	{ background-color:#003a15; }

body.skin-0-3 #flotten .beschreibung[class],body.skin-0-3 #flotten .beschreibung[class]:hover,body.skin-0-3 #flotten .rueckflug .beschreibung[class]:hover
	{ color:inherit; } /* Overwrite for browsers that feature the attribute selector */
body.skin-0-3 .order-list .aktionen a:hover,body.skin-0-3 .order-list .aktionen a:focus
,body.skin-0-3 a:hover,a:focus
,body.skin-0-3 #flotten .beschreibung:hover
	{ color:#70b080; }
body.skin-0-3 #flotten .beschreibung[title]:hover,body.skin-0-3 #flotten .beschreibung[titleAttribute]:hover
	{ color:#70b080; }

body.skin-0-3 .type-weak a:hover,body.skin-0-3 .type-weak a:focus,body.skin-0-3 .type-em a:hover,body.skin-0-3 .type-em a:focus,body.skin-0-3 .type-empty a:hover,body.skin-0-3 .type-empty a:focus
,body.skin-0-3 #flotten .rueckflug .beschreibung:hover
	{ color:#353; }
body.skin-0-3 #flotten .rueckflug .beschreibung[title]:hover,body.skin-0-3 #flotten .rueckflug .beschreibung[titleAttribute]:hover
	{ color:#353; }


/* Google ads */

.google-params { position:absolute; padding:0; margin:0; border-style:none; }

body.skin-0-0 #google-color-border-red { height:11px; }
body.skin-0-0 #google-color-border-green { height:11px; }
body.skin-0-0 #google-color-border-blue { height:11px; }
body.skin-0-0 #google-color-text-red { height:171px; }
body.skin-0-0 #google-color-text-green { height:171px; }
body.skin-0-0 #google-color-text-blue { height:171px; }
body.skin-0-0 #google-color-bg-red { height:1px; }
body.skin-0-0 #google-color-bg-green { height:1px; }
body.skin-0-0 #google-color-bg-blue { height:1px; }
body.skin-0-0 #google-color-link-red { height:171px; }
body.skin-0-0 #google-color-link-green { height:171px; }
body.skin-0-0 #google-color-link-blue { height:171px; }
body.skin-0-0 #google-color-url-red { height:171px; }
body.skin-0-0 #google-color-url-green { height:171px; }
body.skin-0-0 #google-color-url-blue { height:171px; }

body.skin-0-1 #google-color-border-red { height:86px; }
body.skin-0-1 #google-color-border-green { height:103px; }
body.skin-0-1 #google-color-border-blue { height:137px; }
body.skin-0-1 #google-color-bg-red { height:69px; }
body.skin-0-1 #google-color-bg-green { height:86px; }
body.skin-0-1 #google-color-bg-blue { height:120px; }

#google-color-border-red { height:171px; }
#google-color-border-green { height:171px; }
#google-color-border-blue { height:171px; }
#google-color-text-red { height:256px; }
#google-color-text-green { height:256px; }
#google-color-text-blue { height:256px; }
#google-color-bg-red { height:137px; }
#google-color-bg-green { height:137px; }
#google-color-bg-blue { height:137px; }
#google-color-link-red { height:256px; }
#google-color-link-green { height:256px; }
#google-color-link-blue { height:256px; }
#google-color-url-red { height:256px; }
#google-color-url-green { height:256px; }
#google-color-url-blue { height:256px; }

body.skin-0-3 #google-color-border-red { height:18px; }
body.skin-0-3 #google-color-border-green { height:81px; }
body.skin-0-3 #google-color-border-blue { height:38px; }
body.skin-0-3 #google-color-bg-red { height:1px; }
body.skin-0-3 #google-color-bg-green { height:59px; }
body.skin-0-3 #google-color-bg-blue { height:22px; }